<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Emprunts de l'Utilisateur</title>
</head>
<body>
<h1>Liste des Emprunts de l'Utilisateur</h1>

<div th:if="${message}">
    <p th:text="${message}"></p>
</div>

<table>
    <thead>
    <tr>
        <th>Date d'Emprunt</th>
        <th>Date de Retour Prévu</th>
        <th>Livre</th>
        <th>Utilisateur</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="emprunt : ${emprunts}">
        <td th:text="${emprunt.dateEmprunt}"></td>
        <td th:text="${emprunt.dateRetourPrevu}"></td>
        <td th:text="${emprunt.livreDto.titre}"></td>
        <td th:text="${emprunt.utilisateurDto.nom}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
